.wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 12px 0;
}

.text {
  font-size: 1.4rem;
  margin-right: 20px;
}

.buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}